// Used for rendering 3D Hubo 
script(src='#{local_root}lib/three/three.min.js')
script(src='#{local_root}lib/three/Detector.js')
script(src='#{local_root}lib/three/ColladaLoader2.js')
script(src='#{local_root}lib/three/TrackballControls.js')
// Our code 
script(src='#{local_root}lib/dict/dict.js')
script(src='#{local_root}src/WebGLRobots.js')